<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Owasso Car Guys | Used cars | knowledgable staff | black leather gloves </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="background">
      <div class="logoWrapper">
        <a id='h1Logo' aria-label='Dealer Logo' href="//www.owassocarguys.com">
          <img src="https://imagescdn.dealercarsearch.com/dealerimages/17191/21529/logo3.png" alt="Owasso Car Guys logo"></a>
      </div>
    </div>
  </body>
</html>
